.outer
{
    margin: 0px auto;
    max-width: 75em;
    line-height: 1.25;
}
.page
{
    display: table;
    width: 100%;
}
.inner
{
    display: table-cell;
    padding: 0.5em;
    vertical-align: top;
}

/* apply recursively to children; might be a bad idea */
.inner *
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.header
{
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.footer
{
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: small;
    text-align: center;
}
.sidebar
{
    width: 5em;
}

.minutiae
{
    font-size: small;
}

.navmenu
{
     list-style-type: none;
     padding-left:  0.5em;
}

.separator
{
    height: 2px;
    border: 0;
}
