.outer
{
    width: 980px;
    margin: 0px auto;
}
.page
{
    display: table;
}
.inner
{
    display: table-cell;
    padding: 0.5em;
    vertical-align: top;
}

/* apply recursively to children; might be a bad idea */
.inner *
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.header
{
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.footer
{
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: small;
    text-align: right;
}

.minutiae
{
    font-size: small;
}

.navmenu
{
     list-style-type: none;
     padding-left:  0.5em;
}
