/* solarized light */
.scheme {background-color:#fdf6e3; color:#839496; font-family:sans-serif;}
.scheme a:link {color:#268bd2;}
.scheme a:visited {color:#d33682;}
.scheme table td {background-color:#eee8d5;}
.scheme .aside   {background-color:#eee8d5;color:#93a1a1;}
.scheme .sourceCode pre { border-color: #eee8d5; }
