/* solarized dark */
.scheme {background-color:#002b36; color:#839496; font-family:sans-serif;}
.scheme a:link {color:#268bd2;}
.scheme a:visited {color:#d33682;}
.scheme table td {background-color:#073642;}
.scheme .aside   {background-color:#073642; color:#586e75;}

